form {
    border: 5px solid #f1f1f1;
}

input[ type = text ], input[ type = password ] {
    width: 100%;
    padding: 15px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #00402e;
    color: white;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}

.btnCancel {
    width: auto;
    padding: 10px 20px;
    background-color: #282828;
}

.block {
    padding: 15px;
}

span.register {
    float: right;
    padding-top: 16px;
}